*.iml
.gradle/
build/
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
